
.fnc_box(@val){


    .fnc-classname(@val, {});

    /* fullhd */
    @media only screen and (min-width:@s5-min){
        .fnc-classname(@val, -s5)!important;
    }

    /* widescreen */
    @media only screen and (min-width:@s4-min) and (max-width:@s4-max){
        .fnc-classname(@val, -s4)!important;
    }

    /* desktop */
    @media only screen and (min-width:@s3-min) and (max-width:@s3-max){
        .fnc-classname(@val, -s3)!important;
    }

    /* Tablet */
    @media only screen and (min-width:@s2-min) and (max-width:@s2-max){
        .fnc-classname(@val, -s2)!important;
    }

    /* Mobile */
    @media only screen and (max-width:@s1-max){
        .fnc-classname(@val, -s1)!important;
    }

   
}

.fnc-classname(@val, @sufix){


    
    .mar-t@{val}@{sufix}{
        margin-top: ~"@{val}px";
    }
    .mar-b@{val}@{sufix}{
        margin-bottom: ~"@{val}px";
    }
    .mar-l@{val}@{sufix}{
        margin-left: ~"@{val}px";
    }
    .mar-r@{val}@{sufix}{
        margin-right: ~"@{val}px";
    }

    .pad-t@{val}@{sufix}{
        padding-top: ~"@{val}px";
    }
    .pad-b@{val}@{sufix}{
        padding-bottom: ~"@{val}px";
    }
    .pad-l@{val}@{sufix}{
        padding-left: ~"@{val}px";
    }
    .pad-r@{val}@{sufix}{
        padding-right: ~"@{val}px";
    }

}

.loop_box(@index) when (@index >= 0){
    .fnc_box(@index);
    .loop_box(@index - 5);
}
.loop_box(500);