.container{
    display: flex;
    margin: 0 auto;

    @media only screen and  (max-width:@s2-max){
        width: 100%;
    }

    @media only screen and (min-width:@s3-min) and (max-width:@s3-max){
        width: @s3-min;
    }

    @media only screen and (min-width:@s4-min) and (max-width:@s4-max){
        width: @s4-min;
    }

    @media only screen and (min-width:@s5-min){
        width: @s5-min;
    }

    /* Torna o Container Responsivo */
    &.container-responsive{
        width: 100%;
    }
    
    /* Força o container ao tamanho máximo de uma tela */
    &.container-max-s4{
        @media only screen and  (min-width:@s4-max){
            max-width: @s4-max!important;
        }
    }
    
    &.container-max-s3{
        @media only screen and  (min-width:@s3-max){
            max-width: @s3-max!important;
        }
    }
    &.container-max-s2{
        @media only screen and  (min-width:@s2-max){
            max-width: @s2-max!important;
        }
    }
    &.container-max-s1{
        @media only screen and  (min-width:@s1-max){
            max-width: @s1-max!important;
        }
    }

}

