
/* Plataformas */

//Phone - @media only screen and (max-width:@phone-max){
@phone-max: 768px;

//Tablet - @media only screen and (min-width:@tablet-min) and (max-width:@tablet-max){
@tablet-min: 769px;
@tablet-max: 1023px;

//Desktop - @media only screen and (min-width:@desktop-min) and (max-width:@desktop-max){
@desktop-min: 1024px;
@desktop-max: 1215px;

//Widescreen - @media only screen and (min-width:@widescreen-min) and (max-width:@widescreen-max){
@widescreen-min: 1216px;
@widescreen-max: 1407px;

//fullhd - @media only screen and (min-width:@fullhd-min){
@fullhd-min:1408px;