
/* Plataformas */

// S1 - Phone - @media only screen and (max-width:@s1-max){
@s1-max: 768px;

// S2 - Tablet - @media only screen and (min-width:@s2-min) and (max-width:@s2-max){
@s2-min: 769px;
@s2-max: 1023px;

// S3 - Desktop - @media only screen and (min-width:@s3-min) and (max-width:@s3-max){
@s3-min: 1024px;
@s3-max: 1215px;

// S4 - Widescreen - @media only screen and (min-width:@s4-min) and (max-width:@s4-max){
@s4-min: 1216px;
@s4-max: 1407px;

// S5 - fullhd - @media only screen and (min-width:@s5-min){
@s5-min: 1408px;